.smile-icons {
background: #e5e8ef;
box-shadow:  5px 5px 10px #b0b3b8,
             -5px -5px 10px #ffffff;
}

.eyes-icons {
    background: #e5e8ef;
box-shadow:  5px 5px 10px #b0b3b8,
             -5px -5px 10px #ffffff;
}

.globe-icons {
    background: #e5e8ef;
box-shadow:  5px 5px 10px #b0b3b8,
             -5px -5px 10px #ffffff;
}