.to-payment-button {
  background: #e5e8ef;
  box-shadow:  5px 5px 6px #c3c5cb,
               -5px -5px 6px #ffffff;
}

.for-document {
  background: #e5e8ef;
  box-shadow:  5px 5px 6px #c3c5cb,
               -5px -5px 6px #ffffff;
}